/* 폰트 예시 */
@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
  